language: php

sudo: false

branches:
  except:
    - release

branches:
  only:
    - master
    - develop

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: 5.3
    - php: nightly

addons:
  apt:
    packages:
    - imagemagick

before_install:
  - composer self-update
  - if [ -n "$GH_TOKEN" ]; then composer config github-oauth.github.com ${GH_TOKEN}; fi;
  - if [ -n "$GH_TOKEN" ]; then git config --global github.accesstoken ${GH_TOKEN}; fi;
  - if [[ "$TRAVIS_PHP_VERSION" != "nightly" ]] && [[ "$TRAVIS_PHP_VERSION" != "hhvm" ]] && [[ "$TRAVIS_PHP_VERSION" != "7.0" ]]; then printf "\n" | pecl install imagick-beta -v; fi;

before_script:
  - flags=""
  - if [ `phpenv version-name` == "5.3" ]; then flags="--ignore-platform-reqs"; fi
  - composer install --no-interaction $flags
  - composer require satooshi/php-coveralls:dev-master --no-interaction $flags

script:
  - make qa_all
  - make report

after_success:
  - cat ./target/report/phploc.txt
  - cat ./target/report/phpcompatinfo.txt

after_failure:
  - cat ./target/logs/junit.xml
  - cat ./target/report/phpcpd.txt

after_script:
 - "echo 'src_dir: src' > .coveralls.yml"
 - "echo 'coverage_clover: target/coverage/coverage.xml' >> .coveralls.yml"
 - "echo 'json_path: target/coverage/coveralls-upload.json' >> .coveralls.yml"
 - if [ "$TRAVIS_PHP_VERSION" = "5.6" ]; then php vendor/bin/coveralls -v; fi;
