<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix="php">src</directory>
    </include>
    <report>
      <clover outputFile="target/coverage/coverage.xml"/>
      <html outputDirectory="target/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="tc-lib-barcode Test Suite">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="target/logs/junit.xml"/>
  </logging>
</phpunit>
